@media only screen and (min-width: 991px) {
    .controls {
        min-height: 133px;
    }
    .modal-dialog {
      max-width: 900px;
    }
  }


  @media only screen and (max-width: 992px) {
  }
  .disabled > .card {
    pointer-events: none;
    cursor: default;
    background-color: #cccccc;
  }
