<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-5">
      <form action="#">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input class="form-control" placeholder="Usuário" [(ngModel)]="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input class="form-control"  placeholder="Senha" [(ngModel)]="password" type="password" name="password" required>
          </div>
          <div>
            {{message}}
          </div>
          <button  (click)="login()" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
