<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> Orçamento</li>
        <li class="breadcrumb-item active" aria-current="page">Painel Orçamento </li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" data-toggle="pill" href="#pill-0">Valores Atuais</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#pill-1">Percentual Empenhado</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#pill-2">Histórico</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#pill-3">Evolução</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#pill-4">Comparativo</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#pill-5">RAP Atual</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#pill-6">RAP Acumulado</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#pill-7">Execução</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col">
              <div class="tab-content">
                <div id="pill-0" class="tab-pane fade active show">
                  <h3>Valores Atuais</h3>
                  <!-- Chart -->
                  <div class="chart mb-5">
                    <canvas id="chart-current" class="chart-canvas"></canvas>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="pageData[0]">
                      <div *ngIf="(pageData[0].length > 0)">
                        <app-data-table [tableData]="pageData[0]"></app-data-table>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pill-1" class="tab-pane fade show">
                  <h3>Percentual Empenhado</h3>
                  <!-- Chart -->
                  <div class="chart mb-5">
                    <canvas id="chart-committed" class="chart-canvas"></canvas>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="pageData[1]">
                      <div *ngIf="(pageData[1].length > 0)">
                        <app-data-table [tableData]="pageData[1]"></app-data-table>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div id="pill-2" class="tab-pane fade show">
                  <h3>Histórico</h3>
                  <!-- Chart -->
                  <div class="chart mb-5">
                    <canvas id="chart-history" class="chart-canvas"></canvas>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="pageData[2]">
                      <div *ngIf="(pageData[2].length > 0)">
                        <app-data-table [tableData]="pageData[2]"></app-data-table>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pill-3" class="tab-pane fade show">
                  <h3>Evolução</h3>
                  <!-- Chart -->
                  <div class="chart mb-5">
                    <canvas id="chart-evolution" class="chart-canvas"></canvas>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="pageData[3]">
                      <div *ngIf="(pageData[3].length > 0)">
                        <app-data-table [tableData]="pageData[3]"></app-data-table>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pill-4" class="tab-pane fade show">
                  <h3>Comparativo</h3>
                  <!-- Chart -->
                  <div class="chart mb-5">
                    <canvas id="chart-committedpaid" class="chart-canvas"></canvas>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="pageData[4]">
                      <div *ngIf="(pageData[4].length > 0)">
                        <app-data-table [tableData]="pageData[4]"></app-data-table>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pill-5" class="tab-pane fade show">
                  <h3>RAP Atual</h3>
                  <!-- Chart -->
                  <div class="chart mb-5">
                    <canvas id="chart-rapcurrent" class="chart-canvas"></canvas>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="pageData[5]">
                      <div *ngIf="(pageData[5].length > 0)">
                        <app-data-table [tableData]="pageData[5]"></app-data-table>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pill-6" class="tab-pane fade show">
                  <h3>RAP Acumulado</h3>
                  <!-- Chart -->
                  <div class="chart mb-5">
                    <canvas id="chart-rapaccumulated" class="chart-canvas"></canvas>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="pageData[6]">
                      <div *ngIf="(pageData[6].length > 0)">
                        <app-data-table [tableData]="pageData[6]"></app-data-table>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="pill-7" class="tab-pane fade show">
                  <h3>Execução</h3>
                  <!-- Chart -->
                  <div class="chart mb-5">
                    <canvas id="chart-control" class="chart-canvas"></canvas>
                  </div>
                  <div class="col-lg-12">
                    <div *ngIf="pageData[7]">
                      <div *ngIf="(pageData[7].length > 0)">
                        <app-data-table [tableData]="pageData[7]"></app-data-table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
