<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> Analítica</li>
        <li class="breadcrumb-item active" aria-current="page">Básica</li>
        <li class="breadcrumb-item active" aria-current="page">Repasses Financeiros -> Estado -> Município</li>
        <li class="breadcrumb-item active" aria-current="page">Ficha do Repasse Financeiro</li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">
          <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
                <input
                  class="form-control" placeholder="Pesquisar"
                  type="text" (focus)="focus = true" name="searchTerm"
                  (blur)="focus = false"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Repasses Obrigatórios e Sistema Prisional</ng-template>
      <ng-template ngbTabContent>
        <!-- Table -->
        <div class="row">
          <!-- start of first column -->
          <div class="col-lg-12">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Repasses Obrigatórios</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Total Programado (R$)</th>
                      <th scope="col">Total Repassado(R$)</th>
                      <th scope="col">Saldo (R$)</th>
                      <th scope="col">Previsto(R$)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        20.037,60
                      </th>
                      <td>
                        12.022,56
                      </td>
                      <td>
                        8.015,04
                      </td>
                      <td>
                        18.033,84
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="ml-3 table-footer">
                  <p><i>Total de registros: 1</i><br>
                  <i>Fonte: Webservice em 18/10/19</i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- start of first column -->
          <div class="col-lg-12">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Sistema Prisional</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Total Programado (R$)</th>
                      <th scope="col">Total Repassado(R$)</th>
                      <th scope="col">Saldo (R$)</th>
                      <th scope="col">Previsto(R$)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        4.857,60
                      </th>
                      <td>
                        2.914,56
                      </td>
                      <td>
                        1.943,04
                      </td>
                      <td>
                        4.371,84
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="ml-3 table-footer">
                  <p><i>Total de registros: 1</i><br>
                  <i>Fonte: Webservice em 18/10/19</i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Repasses Qualifar-SUS e Plantas Medicinais e Fitoterápicos">
      <ng-template ngbTabContent>
        <!-- Table -->
        <div class="row">
          <!-- start of first column -->
          <div class="col-lg-12">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Repasses Qualifar-SUS</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Tipo de Repasse</th>
                      <th scope="col">Total Programado (R$)</th>
                      <th scope="col">Total Repassado(R$)</th>
                      <th scope="col">Saldo (R$)</th>
                      <th scope="col">Previsto(R$)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        Custeio
                      </th>
                      <td>
                        32.181,60
                      </td>
                      <td>
                        19.308,96
                      </td>
                      <td>
                        12.872,64
                      </td>
                      <td>
                        28.963,44
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="ml-3 table-footer">
                  <p><i>Total de registros: 1</i><br>
                  <i>Fonte: Webservice em 18/10/19</i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- start of first column -->
          <div class="col-lg-12">
            <div class="card shadow">
              <div class="card-header border-0">
                <h3 class="mb-0">Plantas Medicinais e Fitoterápicos</h3>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Tipo de Repasse</th>
                      <th scope="col">Total Programado (R$)</th>
                      <th scope="col">Total Repassado(R$)</th>
                      <th scope="col">Saldo (R$)</th>
                      <th scope="col">Previsto(R$)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        Custeio
                      </th>
                      <td>
                        4.857,60
                      </td>
                      <td>
                        2.914,56
                      </td>
                      <td>
                        1.943,04
                      </td>
                      <td>
                        4.371,84
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="ml-3 table-footer">
                  <p><i>Total de registros: 1</i><br>
                  <i>Fonte: Webservice em 18/10/19</i></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
    <!--  -->
</div>
