<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i> Farmácia Popular</li>
        <li class="breadcrumb-item"><a routerLinkActive="active" [routerLink]="['/popular-pharmacy/mulct']">Ressarcimento</a>
        </li>
      </ol>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <a href="https://gaesi.gitlab.io/msdaf/wiki/parse-da-farmacia-popular/" target="_blank">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Acesso ao Manual</h5>
                    <p class="h5 font-weight-bold mb-0">Acesse o manual para download do arquivo CSV com as informações
                      necessárias para a conversão.</p>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-gradient-teal text-white rounded-circle shadow">
                      <i class="ni ni-bullet-list-67"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body" data-toggle="modal" data-target="#csvUploadModal">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Importar CSV</h5>
                  <p class="h5 font-weight-bold mb-0">Envie seu aquivo em formato CSV com as informações já exportadas,
                    para conversão dos dados.</p>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                    <i class="ni ni-cloud-upload-96"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body" data-toggle="modal" data-target="#csvUploadModal2">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Consultar SISGRU</h5>
                  <p class="h5 font-weight-bold mb-0">Consulte no sistema SISGRU os pagamentos realizados por um
                    determinado contribuinte.</p>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid mt--7" id="showGRUs" *ngIf="hideElement">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">GRUs</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <!-- <th scope="col">ugEmitente</th>
              <th scope="col">ugArrecadadora</th> -->
              <th scope="col">Data Emissão</th>
              <th scope="col">Data Contabiliz.</th>
              <!-- <th scope="col">recolhimentoContabilizado</th> -->
              <th scope="col">Contribuinte</th>
              <th scope="col">Referência</th>
              <th scope="col">Valor</th>
              <th scope="col">Situação</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gru of grus;">
              <td>
                {{gru.id}}
              </td>
              <!-- <td>
                {{gru.ugEmitente}}
              </td>
              <td>
                {{gru.ugArrecadadora}}
              </td> -->
              <td>
                {{gru.dtEmissao}}
              </td>
              <td>
                {{gru.dtContabilizacaoSiafi}}
              </td>
              <!-- <td>
                {{gru.recolhimentoContabilizado}}
              </td> -->
              <td>
                {{gru.codigoRecolhedor}}
              </td>
              <td>
                {{gru.numReferencia}}
              </td>
              <td>
                {{gru.vlTotal}}
              </td>
              <td>
                {{gru.situacao}}
              </td>

            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>






<!-- Modal -->
<div class="modal fade" id="csvUploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form (ngSubmit)="upload()">
      <div class="modal-content">
        <div class="modal-header">

          <h3 class="modal-title" id="exampleModalLabel">Envio de arquivo para coversão de massa de dados</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
          <input id="file"
                 type="file"
                 name="file"
                 (change)="files($event.target.files)"
                 accept=".csv"/>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Converter</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </form>
  </div>
</div>




<div class="modal fade" id="csvUploadModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form (ngSubmit)="loginExec()">
      <div class="modal-content" ng-controller="controlador" ng-app="app">
        <div class="modal-header">

          <h3 class="modal-title" id="exampleModalLabel">{{name}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="form-control-label" for="login">Login</label>
            <input type="text" class="form-control form-control-alternative" name="login" id="login" placeholder="Digite o Login do SIAFI" required (change)="loginfc($event.target.value)">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="pass">Senha</label>
            <input type="password" class="form-control form-control-alternative" name="pass" id="pass" placeholder="Digite a Senha do SIAFI" required (change)="passfc($event.target.value)">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="pass">UG Arrecadadora</label>
            <input type="text" class="form-control form-control-alternative" name="ugArrecadadora" id="ugArrecadadora" placeholder="Digite a UG Arrecadadora" required (change)="ugArrecadadorafc($event.target.value)">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="pass">UG Emitente</label>
            <input type="text" class="form-control form-control-alternative" name="ugEmitente" id="ugEmitente" placeholder="Digite a UG Emitente" required (change)="ugEmitentefc($event.target.value)">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="pass">Contribuinte</label>
            <input type="text" class="form-control form-control-alternative" name="codigoRecolhedor" id="codigoRecolhedor" placeholder="Digite O CPF/CNPJ do Contribuinte" required (change)="codigoRecolhedorfc($event.target.value)">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="pass">Data Inicial</label>
            <input type="text" class="form-control form-control-alternative" name="dtEmissaoIN" id="dtEmissaoIN" placeholder="Digite a data inicial da consulta" required (change)="dtEmissaoINfc($event.target.value)">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="pass">Data Final</label>
            <input type="text" class="form-control form-control-alternative" name="dtEmissaoFI" id="dtEmissaoFI" placeholder="Digite a data final da consulta" required (change)="dtEmissaoFIfc($event.target.value)">
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Consultar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </form>
  </div>
</div>
