<div class="container-fluid">
    <div id="wrapper" class="col">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                  <li>
                      <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                          <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                          <span class="sidebar-title">Dashboard</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="./daf-form1" routerLinkActive="active">
                          <span class="sidebar-icon"><i class="fa fa-ambulance"></i></span>
                          <span class="sidebar-title">Farmácia Popular</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="./daf-form2" routerLinkActive="active">
                          <span class="sidebar-icon"><i class="fa fa-align-left"></i></span>
                          <span class="sidebar-title">DAF</span>
                      </a>
                  </li>

                </ul>
            </aside>
        </div>
    </div>
    <main class="col-10 offset-2 row" role="main">
          <router-outlet></router-outlet>
    </main>
</div>
