<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> MAG - Modelo Analítico de Gestão</li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <!-- <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Medicamentos</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">
                <i class="fas fa-search mr-1"></i>
                Buscar
              </a>
            </div>
          </div> -->
        </div>
        <div class="main-panel">
          <h1 class="mt-5 text-xl-center font-weight-bold">MAG - Modelo Analítico de Gestão</h1>
        </div>
      </div>
    </div>
  </div>
</div>
