<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> Analítica</li>
        <li class="breadcrumb-item active" aria-current="page">Aquisição</li>
        <li class="breadcrumb-item active" aria-current="page">Ficha de medicamento</li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">
          <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
                <input
                  class="form-control" placeholder="Pesquisar"
                  type="text" (focus)="focus = true" name="searchTerm"
                  (blur)="focus = false"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 mb-4">
  <div class="row">
    <div class="col-lg-12">
        <div class="card shadow">
          <div class="header border-0">
            <h3 class="mb-0">Ficha de Medicamento</h3>
          </div>
          <div class="row pl-4">
            <div class="col-lg-3">
              <div>
                <b>Unidade</b>: Unidade
              </div>
              <div>
                <b>Fornecedor</b>: -
              </div>
              <div>
                <b>Estoque Atual</b>: 1.234
              </div>
            </div>
            <div class="col-lg-3">
              <div>
                <b>CATMAT</b>: -
              </div>
              <div>
                <b>Utilização</b>: Insulina
              </div>
            </div>
            <div class="col-lg-3">
              <div>
                <b>Coordenações</b>: CEAF ou CGFB ou CGFME ou CPFP
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container-fluid">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Orçamentário</ng-template>
      <ng-template ngbTabContent>
        <!-- Tables -->
        <div class="table-responsive">
          <table class="table align-items-center table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col"> </th>
                <th scope="col" *ngFor="let header of headerData">
                  {{ header }}  
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let data of analyticData">
                <td></td>
                <td *ngFor="let header of headerData">
                  {{ data[header] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>              
      </ng-template>
    </ngb-tab>
    <!-- <ngb-tab title="Componente Básico">
      <ng-template ngbTabContent>
        <div class="row mt-4">
          <div class="col-lg-6">
            <div class="card shadow margin-all">
              <div class="header border-0">
                <h3 class="mb-0">Físico</h3>
              </div>
              <div class="col-lg-12 pl-4">
                <div>
                    <b>Unidade</b>: Unidade
                  </div>
                  <div>
                    <b>Fornecedor</b>: -
                  </div>
                  <div>
                    <b>Estoque Atual</b>: 1.234
                  </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card shadow margin-all pb-9">
              <div class="header border-2">
                <h3 class="mb-0">Financeiro</h3>
              </div>
              <div class="col-lg-12 pl-4">
                <div>
                    <b>Unidade</b>: Unidade
                  </div>
                  <div>
                    <b>Fornecedor</b>: -
                  </div>
                  <div>
                    <b>Estoque Atual</b>: 1.234
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
              <div class="card shadow margin-all">
                <div class="header border-0">
                  <h3 class="mb-0">Ciclo de Aquisição</h3>
                </div>
                <div class="row ml-3">
                  <div class="col-lg-2 pl-4 ml-3 mb-3 mb-3 pb-6 pt-1 alert-success">
                    <div>
                        <b>1/2019<br>PAC</b>
                      </div>
                      <div>
                        Sem dados adicionais
                      </div>
                  </div>
                  <div class="col-lg-2 pl-4 ml-3 mb-3 mb-3 pb-6 pt-1 alert-success">
                    <div>
                        <b>1/2019<br>Programação</b>
                      </div>
                      <div>
                        Sem dados adicionais
                      </div>
                  </div>
                  <div class="col-lg-2 pl-4 ml-3 mb-3 mb-3 pb-6 pt-1 alert-success">
                    <div>
                        <b>1/2019<br>Processo de Aquisição</b>
                      </div>
                      <div>
                        Sem dados adicionais
                      </div>
                  </div>
                  <div class="col-lg-2 pl-4 ml-3 mb-3 mb-3 pb-6 pt-1 alert-warning">
                    <div>
                        <b>1/2019<br>Contratação</b>
                      </div>
                      <div>
                        Verificar contrato 213254687/2019, validade próxima (25/10/2019)
                      </div>
                  </div>
                  <div class="col-lg-2 pl-4 ml-3 mb-3 mb-3 pb-6 pt-1 alert-success">
                    <div>
                        <b>1/2019<br>Distribuição</b>
                      </div>
                      <div>
                        Sem dados adicionais
                      </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
      </ng-template>
    </ngb-tab> -->
    <!-- <ngb-tab title="Disabled" [disabled]="true">
      <ng-template ngbTabContent>
        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
      </ng-template>
    </ngb-tab> -->
  </ngb-tabset>
    <!--  -->
</div>
