<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> Farmácia Popular</li>
        <li class="breadcrumb-item active" aria-current="page">Processos</li>
      </ol>
    </nav>
  </div>
  <div class="container-fluid mt--7">
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Processos documentados</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-sm btn-primary">
                <i class="fas fa-search mr-1"></i>
                Buscar
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">Processo</th>
              <th scope="col">Situação</th>
              <th scope="col">Link</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let proc of processes; index as i;">
              <td>
                <button type="button" (click)="setPdf(proc.pdf)" data-toggle="modal" data-target="#pdfModal" class="btn sidebar-icon mr-2"><i class="fas fa-eye"></i></button>
              </td>
              <td>
                {{proc.title}}
              </td>
              <td>
                {{proc.status}}
              </td>
              <td>
                <a href="{{proc.url}}">{{proc.url}}</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="height: calc(100vh - 30px); overflow: scroll;">
        <pdf-viewer [src]="pdf" [render-text]="true" style="display: block; margin-top:0;">
              </pdf-viewer>
    </div>
  </div>
</div>
