<div class="row">
  <div class="col-10 offset-2 pt-4 ">
    <div class="form-row text-center">
      <div class="form-group col-md-10">
        <h1>
          Importação
        </h1>
      </div>
    </div>
      <div class="form-row center">
        <div class="form-group col-md-5">
          <label for="id">Autorizações</label>
          <input type="file" class="form-control-file" name="" value="" name="files" class="form-control"
                     #uploads  (change)="onChange(uploads.files)" multiple
                     value="process"/>
        </div>
      </div>
    <br>
    <div class="form-row center">
      <div class="form-group col-md-5">
        <label for="id">Pesquisar: </label>
        <input type="text" class="form-control" #searchInput name="pesquisar" (input)="search(searchInput.value)" />
      </div>
    </div>
    <div *ngIf="dataList">
      <div class="form-group">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Nu. Autorização</th>
            <th scope="col">Data e Hora</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let authorization of dataList; index as i;">
            <td>{{authorization[0]}}</td>
            <td>{{authorization[2].split(" ")[0]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
