<div class="header bg-gradient-teal pb-8 pt-5 pt-md-8">
  <div class="container-fluid breadcrumbs">
    <!-- Breadcrumbs -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"> <i class="fas fa-home"></i> Orçamento</li>
        <li class="breadcrumb-item active" aria-current="page">Aquisição </li>
      </ol>
    </nav>
  </div>

  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-lg-12">

          <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
            <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input class="form-control" placeholder="Pesquisar" type="text" (focus)="focus = true"
                  (blur)="focus = false">
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <!-- <h3 class="mb-0">Card tables</h3> -->
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col">Estado</th>
                <th scope="col">Mem. Cálculo (Un)</th>
                <th scope="col">Aquisição(Un)</th>
                <th scope="col">Prog. Estadual (Un)</th>
                <th scope="col">Estoque (Un)</th>
                <th scope="col">Distribuido (Un)</th>
                <th scope="col">Dist. Judicial (Un)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="javascript:void(0)">Abrir visualização</a>
                      <!-- <a class="dropdown-item" href="javascript:void(0)">Another action</a> -->
                      <!-- <a class="dropdown-item" href="javascript:void(0)">Something else here</a> -->
                    </div>
                  </div>
                </td>
                <th class="title-action-budget" scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Acre</span>
                    </div>
                  </div>
                </th>
                <td>
                  85.923
                </td>
                <td>
                  81.989
                </td>
                <td>
                  57.360
                </td>
                <td>
                  40.140
                </td>
                <td>
                  28.125
                </td>
                <td>
                  82
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Alagoas</span>
                    </div>
                  </div>
                </th>
                <td>
                  1.554.804
                </td>
                <td>
                  348.777
                </td>
                <td>
                  244.220
                </td>
                <td>
                  170.920
                </td>
                <td>
                  119.637
                </td>
                <td>
                  352
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Amapá</span>
                    </div>
                  </div>
                </th>
                <td>
                  71.577
                </td>
                <td>
                  74.832
                </td>
                <td>
                  52.410
                </td>
                <td>
                  36.620
                </td>
                <td>
                  25.673	
                </td>
                <td>
                  77
                </td>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Amazonas</span>
                  </div>
                </div>
              </th>
              <td>
                1.938.119
                </td>
                <td>
                  389.402
                </td>
                <td>
                  272.550
                </td>
                <td>
                  190.840
                </td>
                <td>
                  133.565
                </td>
                <td>
                  397
              </td>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Bahia</span>
                  </div>
                </div>
              </th>
              <td>
                  31.371.280
                </td>
                <td>
                  1.566.672
                </td>
                <td>
                  1.096.680
                </td>
                <td>
                  767.690
                </td>
                <td>
                  537.371
                </td>
                <td>
                  1.608
              </td>
              </tr>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Ceará</span>
                  </div>
                </div>
              </th>
              <td>
                11.407.384
                </td>
                <td>
                  944.727
                </td>
                <td>
                  661.350
                </td>
                <td>
                  462.930
                </td>
                <td>
                  324.044
                </td>
                <td>
                  975
              </td>
              </tr>
              </tr>

              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Distrito Federal</span>
                  </div>
                </div>
              </th>
              <td>
                1.054.750
                </td>
                <td>
                  287.269
                </td>
                <td>
                  201.070
                </td>
                <td>
                  140.730
                </td>
                <td>
                  98.536
                </td>
                <td>
                  297
              </td>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Espírito Santo</span>
                  </div>
                </div>
              </th>
              <td>
                1.972.726
                </td>
                <td>
                  392.869
                </td>
                <td>
                  274.970
                </td>
                <td>
                  192.540
                </td>
                <td>
                  134.757
                </td>
                <td>
                  399
              </td>
              </tr>

              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Goiás</span>
                  </div>
                </div>
              </th>
              <td>
                5.755.438
                </td>
                <td>
                  671.046
                </td>
                <td>
                  469.780
                </td>
                <td>
                  328.730
                </td>
                <td>
                  230.168
                </td>
                <td>
                  694
              </td>
              </tr>

              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Maranhão</span>
                  </div>
                </div>
              </th>
              <td>
                6.902.269
                </td>
                <td>
                  734.866
                </td>
                <td>
                  514.400
                </td>
                <td>
                  360.060
                </td>
                <td>
                  252.068
                </td>
                <td>
                  758
              </td>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Mato Grosso</span>
                  </div>
                </div>
              </th>
              <td>
                1.470.894
                </td>
                <td>
                  339.235
                </td>
                <td>
                  237.480
                </td>
                <td>
                  166.250
                </td>
                <td>
                  116.358
                </td>
                <td>
                  343
              </td>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Mato Grosso do Sul</span>
                  </div>
                </div>
              </th>
              <td>
                957.666
                </td>
                <td>
                  273.730
                </td>
                <td>
                  191.640
                </td>
                <td>
                  134.080
                </td>
                <td>
                  93.889
                </td>
                <td>
                  283
              </td>
              </tr>

              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Minas Gerais</span>
                  </div>
                </div>
              </th>
              <td>
                61.322.764
              </td>
              <td>
                2.190.402
              </td>
              <td>
                1.533.240
              </td>
              <td>
                1.073.310
              </td>
              <td>
                751.310
              </td>
              <td>
                2.252
              </td>
              </tr>

              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Pará</span>
                  </div>
                </div>
              </th>
              <td>
                9.176.709
                </td>
                <td>
                  847.338
                </td>
                <td>
                  593.140
                </td>
                <td>
                  415.180
                </td>
                <td>
                  290.636
                </td>
                <td>
                  874
              </td>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Paraíba</span>
                  </div>
                </div>
              </th>
              <td>
                2.265.223
              </td>
              <td>
                420.991
              </td>
              <td>
                294.670
              </td>
              <td>
                206.230
              </td>
              <td>
                144.399
              </td>
              <td>
                431
              </td>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Paraná</span>
                  </div>
                </div>
              </th>
              <td>
                17.418.287
              </td>
              <td>
                1.167.390
              </td>
              <td>
                817.160
              </td>
              <td>
                572.040
              </td>
              <td>
                400.415
              </td>
              <td>
                1.200
              </td>
              </tr>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Pernambuco</span>
                  </div>
                </div>
              </th>
              <td>
                12.354.995
              </td>
              <td>
                983.182
              </td>
              <td>
                688.260
              </td>
              <td>
                481.740
              </td>
              <td>
                337.234
              </td>
              <td>
                1.016
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Piauí</span>
                  </div>
                </div>
              </th>
              <td>
                1.552.671
              </td>
              <td>
                348.537
              </td>
              <td>
                244.070
              </td>
              <td>
                170.800
              </td>
              <td>
                119.552
              </td>
              <td>
                352
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Rio de Janeiro</span>
                  </div>
                </div>
              </th>
              <td>
                40.824.514
              </td>
              <td>
                1.787.203
              </td>
              <td>
                1.251.050
              </td>
              <td>
                875.700	
              </td>
              <td>
                613.016
              </td>
              <td>
                1.835
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Rio Grande do Norte</span>
                  </div>
                </div>
              </th>
              <td>
                1.602.529
                </td>
                <td>
                  354.093
                </td>
                <td>
                  247.880
                </td>
                <td>
                  173.530
                </td>
                <td>
                  121.451
                </td>
                <td>
                  359
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Rio Grande do Sul</span>
                  </div>
                </div>
              </th>
              <td>
                18.260.077
              </td>
              <td>
                1.195.261
              </td>
              <td>
                836.680
              </td>
              <td>
                585.680
              </td>
              <td>
                409.981
              </td>
              <td>
                1.232
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Rondônia</span>
                  </div>
                </div>
              </th>
              <td>
                389.777
                </td>
                <td>
                  174.629
                </td>
                <td>
                  122.220
                </td>
                <td>
                  85.530
                </td>
                <td>
                  59.898
                </td>
                <td>
                  180
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Roraima</span>
                  </div>
                </div>
              </th>
              <td>
                32.403
              </td>
              <td>
                50.346
              </td>
              <td>
                35.180
              </td>
              <td>
                24.630
              </td>
              <td>
                17.275
              </td>
              <td>
                48
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Santa Catarina </span>
                  </div>
                </div>
              </th>
              <td>
                6.234.054
                </td>
                <td>
                  698.393
                </td>
                <td>
                  488.850
                </td>
                <td>
                  342.170
                </td>
                <td>
                  239.546
                </td>
                <td>
                  722
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">São Paulo</span>
                  </div>
                </div>
              </th>
              <td>
                271.852.080
                </td>
                <td>
                  4.611.881
                </td>
                <td>
                  3.228.330
                </td>
                <td>
                  2.259.830
                </td>
                <td>
                  1.581.885
                </td>
                <td>
                  4.749
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Sergipe</span>
                  </div>
                </div>
              </th>
              <td>
                682.870
              </td>
              <td>
                231.142
              </td>
              <td>
                161.780
              </td>
              <td>
                113.230
              </td>
              <td>
                79.284
              </td>
              <td>
                238
              </td>
              <th scope="row">
                <div class="media align-items-center">
                  <div class="media-body">
                    <span class="mb-0 text-sm">Tocantins</span>
                  </div>
                </div>
              </th>
              <td>
                305.598
                </td>
                <td>
                  154.627
                </td>
                <td>
                  108.220
                </td>
                <td>
                  75.760
                </td>
                <td>
                  53.039
                </td>
                <td>
                  159
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>