<div class="row">
  <div class="col-10 offset-2 pt-4 ">
    <div class="form-row text-center">
      <div class="form-group col-md-10">
        <h1>
          Gerador de Parágrafos para Solicitação de Esclarecimento
        </h1>
      </div>
    </div>

    <form [formGroup]="occurrenceFormBuilder" (ngSubmit)="registerOccurrence()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="transaction">Código da Transação</label>
          <input type="input" class="form-control" formControlName="transaction" name="transaction" id="transaction" placeholder="Código da Transação" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">
          <label for="code">Código da Ocorrência</label>
          <select formControlName="code" class="custom-select" name="code" id="code" required>
            <option selected="selected">Selecione o Código da Ocorrência...</option>
            <option *ngFor="let occurrenceType of occurrenceTypes" [value]="occurrenceType.id"> {{occurrenceType.name}} </option>
          </select>
        </div>
        <div class="form-group col-4">
          <label for="occurredAt">Dia da Transação</label>
          <div class="input-group mb-3">
            <input type="date" class="form-control" formControlName="occurredAt" name="occurredAt" id="occurredAt" placeholder="Data da Transação" required>
            <div class="ml-2">
              <button type="submit" class="btn btn-primary sidebar-icon "><i class="fa fa-plus"></i> Registrar ocorrência</button>
            </div>
          </div>
        </div>

      </div>
      <div class="form-group">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Código da Transação</th>
            <th scope="col">Código da Ocorrência</th>
            <th scope="col">Data</th>
            <th scope="col">Remover</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let occurrence of occurrences; index as i;">
            <td>{{occurrence.transaction}}</td>
            <td>{{occurrence.code}}</td>
            <td>{{occurrence.occurredAt | date: 'dd/MM/yyyy'}}</td>
            <td id="{{i}}"><button type="button" (click)="deleteParagrafo(i)" class="btn btn-primary sidebar-icon "><i class="fa fa-trash-o"></i></button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </form>

    <br>
    <div class="form-row justify-content-md-center">
      <div class="form-group  ">
        <button (click)="inserirParagrafo()" class="btn btn-primary btn-lg">Gerar Parágrafo</button>
      </div>
    </div>
    <br>
  </div>
</div>
