.table-footer {
  font-size: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.blue-table-header {
  color: #6495ed !important;
}
.margin-all {
  background-color: #f2f2f2;
  border: 1px solid #c7c7c7 !important;
  border-radius: 0.25rem;
}