<div class="container-fluid">
    <div id="wrapper" class="col">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                  <li>
                      <a routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                          <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                          <span class="sidebar-title">Dashboard</span>
                      </a>
                  </li>
                  <!-- <li>
                      <a routerLink="./solicitacao-esclarecimento" routerLinkActive="active">
                          <span class="sidebar-icon"><i class="fa fa-align-left"></i></span>
                          <span class="sidebar-title">Geração de Parágrafo</span>
                      </a>
                  </li> -->
                  <li>
                      <a routerLink="./solicitacao-esclarecimento-v1" routerLinkActive="active">
                          <span class="sidebar-icon"><i class="fa fa-align-left"></i></span>
                          <span class="sidebar-title">Geração de Parágrafo - V1</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="./manter-ocorrencia" routerLinkActive="active">
                          <span class="sidebar-icon"><i class="fa fa-align-left"></i></span>
                          <span class="sidebar-title">Manter Ocorrência</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="./manter-nup" routerLinkActive="active">
                          <span class="sidebar-icon"><i class="fa fa-align-left"></i></span>
                          <span class="sidebar-title">Manter NUP</span>
                      </a>
                  </li>
                  <li>
                      <a routerLink="./importacao" routerLinkActive="active">
                          <span class="sidebar-icon"><i class="fa fa-align-left"></i></span>
                          <span class="sidebar-title">Importação</span>
                      </a>
                  </li>
                </ul>
            </aside>
        </div>
    </div>
    <main role="main">
          <router-outlet></router-outlet>
    </main>
</div>
